<div class="well-sm" >
   <center> <h3>Siva Karthik R &nbsp&nbsp <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-copyright-mark"></span> Copyright
    </button></h3></center>
    </div>
