<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script>
        $(document).ready(function(){

            $("#mainmenu li").mouseover(function(){
                $(this).addClass('active');
            })
            $("#mainmenu li").mouseout(function(){
                $(this).removeClass('active');
            })

            $("#change").mouseover(function(){
                $(this).animate({
                    letterSpacing:"+=5px",
                    fontSize:"7em"
                });
            })

        $("#change").mouseout(function(){
            $(this).animate({
                letterSpacing:"-=5px",
                borderWidth:"5px"

            });
        })
        });
    </script>
</head>

<div class = "container-fluid">
    <div class = "jumbotron" style = "background-image:url(../images/jumb.png);background-size:cover">
      <div >
        <h1 id = "change" style = "border-style:solid;border-width:5px;border-color:white;color:white;text-align:center;font-size:7em">Welcome To my Site</h1>
        <h3><%= title %></h3></div>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SivaKarthik</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav" id = "mainmenu">
                    <li ><a href="/">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id = "sign"><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/users"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>